<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Royalty</title>
        <meta name="description" content="A game about keeping and losing power.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div id="game">
            <!-- Menu -->
            <transition name="menu">
                <div id="main-menu" class="menu" v-if="!started">
                    <h1>Royalty</h1>
                    <h2>A game made for Ludum Dare 39 by Mathew Da Costa</h2>
                    <input placeholder="Your name" v-model="monarchName"></input>
                    <input placeholder="Your kingdom" v-model="kingdomName"></input>
                    <div class="buttons">
                        <button @click="start">Start game</button>
                    </div>
                </div>
            </transition>
            <!-- Game -->
            <div v-if="started">
                <ingame :monarch-name="monarchName" :kingdom-name="kingdomName"></ingame>
            </div>
        </div>

        <!-- <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script> -->
        <script src="https://unpkg.com/vue"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!-- <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script> -->
    </body>
</html>
