@import url('https://fonts.googleapis.com/css?family=PT+Mono');

/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #C6AF51;
    background-image: url("../img/background.png");
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: 0;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #222;
}

::-webkit-scrollbar-thumb {
    width: auto;
    background-color: #444;
}

#game {
    font-family: 'PT Mono', monospace;
}

.caps {
    text-transform: capitalize;
}

.menu {
    width: 400px;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    overflow: auto;
}

.menu-enter-active, .menu-leave-active {
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menu-enter, .menu-leave-to {
  transform: scale(0.95, 0.95);
  opacity: 0;
}

.menu h1 {
    font-size: 32pt;
    font-weight: 800;
    margin: 0.4em 0 0.4em;
}

.menu h2 {
    font-size: 16pt;
    font-weight: 200;
}

button, input {
    background-color: #222;
    border: none;
    text-align: center;
}

.menu .buttons {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu.lose-message, .flex-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#statusbar {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: -1px;
    width: 100%;
}

#statusbar span {
    background-color: #444;
    color: white;
    padding: 2px 5px;
    margin: 1px 1px 1px;
    user-select: none;
    cursor: default;
}

#statusbar span.clickable, .clickable {
    cursor: pointer;
    user-select: none;
}

.infobox-enter-active, .infobox-leave-active {
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.infobox-enter, .infobox-leave-to {
  transform: scale(0.95, 0.95);
  opacity: 0;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.infobox {
    background-color: #222;
    color: white;
    min-width: 28em;
    max-width: 28em;
    max-height: 90vh;
    width: fit-content;
    text-align: center;
    overflow: auto;
}

.infobox > .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infobox > * {
    padding: 4px 10px;
}

.infobox h3 {
    font-size: 16pt;
    font-weight: 600;
    text-align: right;
    padding: 2px 5px 2px 2px;
    margin: 0 0 2px;
    background-color: #444;
}

.infobox h4 {
    font-size: 12pt;
    font-weight: 600;
    margin: 4px;
    text-transform: capitalize;
}

.infobox table thead {
    border-bottom: 1px solid #444;
}

.infobox table td {
    padding: 2px 5px;
}

.infobox li {
    list-style: none;
}

.infobox li {
    background-color: #60531f;
}

.infobox li:nth-child(even) {
    background-color: #746425;
}

.infobox div.colony {
    border-bottom: 1px solid #444;
    padding: 0;
}

.infobox > div.colony:last-child {
    border-bottom: none;
}

.infobox .land-details {
    margin: 2px 0 0 0;
}

.infobox > .land-details {
    margin: 2px 5px;
}

.land-details > span {
    width: 100%;
}

.infobox .land-details > div {
    display: flex;
    flex-direction: column;
    padding: 2px 4px;
    background-color: #60531f;
}

.infobox .land-details:nth-of-type(even) > div {
    background-color: #746425;
}

.land-details button.action {
    margin: 0 0 2px 0;
}

button.action {
    background-color: #222;
}

.infobox > button.action, .infobox.homeland button.action {
    background-color: #444;
}

.infobox hr {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    margin: 0.5em 0;
}

.grow-section-enter-active, .grow-section-leave-active {
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.grow-section-enter, .grow-section-leave-to {
    height: 0;
    opacity: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
